$color-coal: #242424;
$color-black: #36363c;
$color-paper: #fffffa;
$color-yellow: #ffdc00;
$color-purple: #7d0ce8;

$mobile-width: 540px;
$tablet-width: 820px;

$fs-h-desktop: 2.5rem;
$fs-h-mobile: 1.5rem;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
}
