.skills {
  .skills__container {
    h2 {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: left;
    }

    li {
      text-align: left;
      min-width: 113px;
    }
  }
}
