.footer {
  @include flex-center;
  justify-content: space-between;
  min-height: 15vh;
  gap: 1rem;

  @include mobile {
    @include flex-column;
    justify-content: center;
  }

  &__links {
    @include flex-center;
    gap: 1rem;
  }

  &__icons {
    @include flex-center;
    gap: 0.5rem;
  }
}
